/* minimal reset and default styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #000000;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
